<section id="register">
  <div class="form">
    <h2>Register</h2>
    <form class="register-form">
      <input
      type="text"
      name="username"
      id="register-username"
      placeholder="username"
      #userUsername
      required
    />
      <input
        type="text"
        name="email"
        id="register-email"
        placeholder="email"
        #userEmail
        required
      />
      <input
        type="password"
        name="password"
        id="register-password"
        placeholder="password"
        #userPwd
        required
      />
      <input
        type="password"
        name="re-password"
        id="repeat-password"
        placeholder="repeat password"
        #userrePwd
        required
      />
      <button type="submit">register</button>
      <p class="message">Already registered? <a href="/app-log-in">SignIn</a></p>
    </form>
  </div>
</section>
