<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <nav>
            <h1>Something News</h1>
            <ul>
                <li><a href="/app-home-page">Home</a></li>
                <li><a href="">Page2</a></li>
                <li><a href="/app-log-in">Log In</a></li>
                <li><a href="/app-register">Register</a></li>
            </ul>
        </nav>
        <router-outlet></router-outlet>
    </section>
</body>
</html>